@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
*{
   border: none;
   box-sizing: border-box;
}
img{
   display: block;
   max-width: 100%;
}
body{
   background-color: lightgray;
   font-family: 'Source Sans Pro';
}
.newspaper-container{
   background-color: white;
   margin: 0 auto;
   padding: 20px;
   width: 700px;
   border-radius: 10px;
   box-shadow: 5px 5px 5px #ddd;
}
